.landing-page {
  display: flex;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/3949699/pexels-photo-3949699.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  height: calc(100vh - 50px);
  background-size: cover;
  background-position: center;
}

.landing-page::after {
  content: "";
  height:100%; 
  background-color:rgba(0, 0, 0, 0.15);
}

.landing-page h1 {
  text-align: left;
}

.landing-page .container-flex-column {
  align-items: flex-start;
  height: 40%;
}

.landing-page-box-text {
  width: 100%;
  height: 65%;
}

.button-landing-page {
  font-size: 18px;
  padding: 15px 0;
  border: 3px solid white;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition-duration: 1s;
  color: white;
  width: 164px;
}

@media (min-width: 768px) {
  .landing-page .container {
    height: 30%;
  } 

  .landing-page-box-text {
    width: 65%;
    height: 50%;
  }
}

