body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: white; 
  line-height: 42px;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.container-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container-flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

span {
  font-weight: bold;
  font-size: 16px;
}

.text-white {
  color: white;
}

.text-blue {
  color: #152D41;
}

.text-black {
  color: black;
}

@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
}