nav {
  height: 50px;
  background-color: #4E4E4E;
}

nav a {
  text-decoration: none;
  font-size: 18px;
}

.nav-logo {
  font-weight: bold;
  color: white;
}

.nav-links {
  display: none;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .nav-links a { 
    color: #F1F1F1;
  }

  .nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .not-allowed {
    cursor: not-allowed;
  }
}

/* .r_header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
   */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #f4f4f4;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background-color: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
   
.menu-icon .navicon:before {
  top: 5px;
}
   
.menu-icon .navicon:after {
  top: -5px;
}
  
.menu-btn {
  display: none;
}
  
.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  top:58px;
  right:20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 4;
}
  
.dropdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  color: #222222;
  width: 256px;
}
  
.dropdown-content li {
  width: 300px;
} 
  
.dropdown-content li a {
    display: block;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 26.4px;
    color: #222222;
    border: 0px solid white;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
  
.dropdown-content li:hover{
    background-color: #f2f2f2;
}
  
.dropdown-content li a:hover {
    color: #000000;
}
  
.menu-btn:checked ~ .dropdown-content {
    display: block;
}
   
.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
   
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
   
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
   
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}